@import 'mixins';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hidden {
    display: none !important;
}


@import 'layout';
@import 'icons';
@import 'tabs';
@import 'menu';
@import 'markdown';

